# Domain
# This would be set to the production domain with an env var on deployment
DOMAIN=localhost

# Environment: local, staging, production
ENVIRONMENT=local

# Backend
SECRET_KEY=any_secret_key
SIGNING_JWT_KEY=asdqw3e2312312e12eqwedqw
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3001,http://localhost:3001,http://127.0.0.1:3000,http://localhost
ALLOWED_HOSTS=*
PROJECT_TITLE=NZT - персональный ассистент для бизнеса

# Database settings
POSTGRES_HOST=db
POSTGRES_NAME=nzt_db
POSTGRES_USER=nzt_user
POSTGRES_PASSWORD=any_password
POSTGRES_PORT=5432

# Redis settings
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=1

# LOGGING
LOG_LEVEL=DEBUG | INFO | WARNING | ERROR | CRITICAL

# CACHE
CACHE_EXPIRATION=3600